{% extends "common/base.html" %}
{% block content %}
<div>
    <div class="main-content">
        <div class="row">
            <div class="col m6 col s12">
                <center>
                    <img class="logo center" src="https://api.coala.io/en/latest/_static/images/coala_logo.svg">
                </center>
            </div>

            <div class="col m6 col s12">
                <div class="title flow-text">coala</div>
                <ul class="center row flow-text no-margin">
                    <li class="col m4 col s4"><a class="chip" href="https://docs.coala.io/"><i class="fa fa-book" aria-hidden="true"></i>DOCS</a></li>
                    <li class="col m4 col s4"><a class="chip" href="https://github.com/coala/coala/"><i class="fa fa-code" aria-hidden="true"></i>SOURCE</a></li>
                    <li class="col m4 col s4"><a class="chip" href="https://coala.io/chat"><i class="fa fa-commenting-o" aria-hidden="true"></i>CHAT</a></li>
                </ul>
                <br>
                <div class="description flow-text center">Welcome to coala.io webServices!</div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="install-tip">
                <h2 class="fine">about</h2>

                <div class="thin-row-small row no-border">
                    <div class="col m6">
                        <h5 class="light">general information</h5>
                        <p>The purpose of this API is to provide users information about coala Bears, the coala Contribution Statistics and to provide an interface to try coala online.</p>
                    </div>
                    <div class="col m6">
                        <h5 class="light">response</h5>
                        <p>The API returns response in the JSON format.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="install-tip">
                <h2 class="fine">bears</h2>
                <div class="thin-row-small row no-border">
                    <div class="col m6">
                        <h5 class="light">/list/bears</h5>
                        <p>Returns list of all the bears with their name, description and languages supported. The list is sorted alphabetically according to bear name.</p>
                    </div>
                    <div class="col m6">
                    <p>Query</p>
                     <pre class="card card-content">http://webservices.coala.io/list/bears</pre>
<pre class="card card-content">
{ "AlexBear":
 {
 "desc": "Checks the markdown file with Alex - Catch insensitive, inconsiderate\nwriting.\n\nBe aware that Alex and this bear only work on English text.\nFor more information, consult <https://www.npmjs.com/package/alex>.",
 "languages": ["Natural Language"]
 },

"AnnotationBear":
 {
 "desc": "Finds out all the positions of strings and comments in a file. The Bear searches for valid comments and strings and yields their ranges as SourceRange objects in HiddenResults.",
 "languages": []
 }
...
...
...
}</pre>
                    </div>
                </div>
                <div class="thin-row-small row">
                    <div class="col m6">
                        <h5 class="light">/search/bears</h5>

                        <p>Non Optional Parameters</p>
                        <ul class="bear-search-ul">
                            <li>bear : Name of the Bear</li>
                        </ul>
                        <p>It returns following details about the given bear:</p>
                        <ul class="bear-search-ul">
                            <li>Name</li>
                            <li>Author</li>
                            <li>License</li>
                            <li>Description</li>
                            <li>Maintainer</li>
                            <li>Metadata</li>
                            <li>Dependencies</li>
                            <li>Abilities (Can Detect / Can Fix)</li>
                            <li>Languages Supported</li>
                            <li>Requirements</li>
                        </ul>

                    </div>
                    <div class="col m6">
                        <p>Query</p>
                        <pre class="card-content card">http://webservices.coala.io/search/bears?bear=PEP8Bear</pre>
                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container">
            <div class="install-tip">
                <h2 class="fine">community</h2>
                <div class="thin-row-small row no-border">
                    <div class="col m6">
                        <h5 class="light">/contrib</h5>
                        <p>Returns following details about contributors across all the coala repositories on GitHub:</p>
                        <ul class="bear-search-ul">
                            <li>Name</li>
                            <li>Commits</li>
                            <li>Reviews</li>
                            <li>Bio</li>
                            <li>Issues Opened</li>
                            <li>Teams</li>
                        </ul>
                    </div>
                    <div class="col m6">
                      <p>Query</p>
                      <pre class="card card-content">http://webservices.coala.io/contrib</pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="install-tip">
                <h2 class="fine">try coala online</h2>
                <div class="thin-row-small row no-border">
                    <div class="col m6">
                        <h5 class="light">/editor</h5>
                        <p>Non Optional Parameters</p>
                        <ul class="bear-search-ul">
                            <li>file_data : Code on which analysis is to be done</li>
                            <li>bears : List of bears to be used for analysis</li>
                        </ul>
                        <p>Returns the result of coala analysis on the given code.</p>

                    </div>
                    <div class="col m6">
                        Query
                        <pre class="card card-content">file_data: print( a + b )</pre>
                        <pre class="card card-content">bears : ['PEP8Bear']</pre>
<pre class="bear-search-pre card-content card">http://webservices.coala.io/editor?file_data=file_data&amp;bears=bearss</pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
{% endblock %}
